<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>TEST BURGER</title>
</head>
<body>

    <div class="container">
        <!-- BEGIN container -->
        <header class="row">
            <div class="jumbotron text-center">
            <img src="../public/assets/img/burger128.png" alt="">   
            <h1>EAT THAT BURGER!</h1> 
            </div>
        </header>

        <div>
            <div class="row">
                    <form action=""></form>
            </div>
            <div>
                    <div class="col-md-6" id="ready">
                        <p>Eat Me!</p>
                        <hr>
                        <ul>
                                <!-- {{#each cats}}
                                {{#unless sleepy}}
                                  {{> cats/cat-block sleep=true}}
                                  {{> cats/cat-delete}}
                                {{/unless}}
                                
                              {{/each}} -->
                        </ul>
                    </div>
            
                    <div class="col-md-6" id="eaten">
                            <p>Eaten and Gone!</p>
                            <hr>
                            <ul></ul>
                    </div>
            </div>
          
        </div>

   
   <!-- //end container -->
    </div>
    
</body>
</html>